@import "tailwindcss";

@import url(//fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(//fonts.googleapis.com/css?family=Abel);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Colors */
  --color-primary: #934506;
  --color-secondary: #fe980f;
  --color-accent: #FDB45E;
  --color-text-main: #696763;
  --color-text-dark: #363432;
  --color-bg-light: #F0F0E9;
  --color-border-light: #F7F7F0;

  /* Custom Fonts */
  --font-roboto: "Roboto", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-abel: "Abel", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  font-weight: 400;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto);
}

a {
  transition: 300ms;
}

a:hover {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

ul li {
  list-style: none;
}

.btn:hover,
.btn:focus {
  outline: none;
  box-shadow: none;
}